@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../fonts/gilroy-semibold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-semibold.woff2") format("woff2"), url("../fonts/gilroy-semibold.woff") format("woff"), url("../fonts/gilroy-semibold.ttf") format("truetype");
  /* Safari, Android, iOS */
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/gilroy-regular.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff"), url("../fonts/gilroy-regular.ttf") format("truetype");
  /* Safari, Android, iOS */
}

body {
  font-family: Gilroy-SemiBold;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 70px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}

.slider-1,
.slider-2 {
  cursor: pointer;
  margin: 20px 0 20px 0;
  color: #fff;
}

.slider-1 img,
.slider-2 img {
  min-height: 350px;
  max-width: 100%;
  transition: all 0.5s;
  z-index: 1;
}

.slider-1 img:hover,
.slider-2 img:hover {
  transform: scale(1.01);
  transition: all 0.5s;
}

.slider-1 .swiper-slide h3,
.slider-2 .swiper-slide h3 {
  position: absolute;
  bottom: 90px;
  left: 50px;
  font-size: 40px;
  color: #000;
  text-transform: uppercase;
}

.slider-1 .swiper-slide h3 span,
.slider-2 .swiper-slide h3 span {
  color: #1d9cd8;
}

.slider-1 .swiper-pagination,
.slider-2 .swiper-pagination {
  position: relative;
  padding-top: 30px;
}

.slider-1 .swiper-pagination-bullet,
.slider-2 .swiper-pagination-bullet {
  margin: 0 10px !important;
  width: 18px;
  height: 18px;
  opacity: 1;
  background: #4ab0e0;
}

.slider-1 .slide-info,
.slider-2 .slide-info {
  transition: all 0.5s;
  position: relative;
  background: #1d9cd8;
  z-index: 2;
  padding: 15px 0 15px 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.slider-1 .slide-info h4,
.slider-2 .slide-info h4 {
  font-size: 20px;
  padding-bottom: 5px;
}

.slider-1 .slide-info p,
.slider-2 .slide-info p {
  font-size: 15px;
}

.swiper-pagination-bullet-active {
  background: #000 !important;
}

.slider-1:hover .slide-info,
.slider-2:hover .slide-info {
  background: #4ab0e0;
  transition: all 0.5s;
}

#secondSlide span {
  color: #fff;
}

a {
  color: #fff;
}

.slider-2 {
  margin: 40px 0 20px 0;
}

.slider-2 h4 {
  padding-bottom: 0px !important;
  color: #fff;
}

.slider-2 .slide__sale {
  left: 50px;
}

.slider-2 .slide__sale-nine {
  right: 50px;
}

.slider-2 .slide__sale,
.slider-2 .slide__sale-nine {
  position: absolute;
  bottom: 90px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.slider-2 .slide__sale h3,
.slider-2 .slide__sale-nine h3 {
  font-size: 50px;
  color: #fff;
  position: relative;
  bottom: 0px;
  left: 0px;
}

.slider-2 .slide__sale p,
.slider-2 .slide__sale-nine p {
  font-size: 165px;
}

.slider-2 .slide-info {
  padding: 20px 0 20px 50px;
}

.goodsList {
  display: flex;
  justify-content: space-between;
}

.goodsList__name {
  margin-top: 100px;
}

.goodsList__name a {
  display: block;
  color: #1d9cdd;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  transition: all 0.5s;
  letter-spacing: 2px;
}

.goodsList__name a:hover {
  color: #000;
  transition: all 0.5s;
}

.goodsList__photo img {
  max-width: 600px;
}

footer {
  margin: 250px 0 100px 0;
}

.footer {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.footer a {
  display: block;
  color: #000;
}

.footer a:hover {
  text-decoration: underline;
}

.footer__logo {
  display: flex;
}

.footer__logo-number {
  align-items: center;
  padding-left: 20px;
}

.footer__logo-number a {
  font-size: 28px;
}

.footer__logo-number p {
  font-size: 13px;
  font-family: Gilroy-Regular;
}

.footer__info {
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  font-family: Gilroy-Regular;
}

.footer__info-offers,
.footer__info-goods {
  margin-right: 120px;
}

.footer__info-offers a,
.footer__info-goods a {
  margin-bottom: 14px;
  transition: all 0.3s;
}

.footer__info-offers a:hover,
.footer__info-goods a:hover {
  text-decoration: none;
  color: #4ab0e0;
  transition: all 0.3s;
}

.footer__info-links a {
  margin-bottom: 14px;
  transition: all 0.3s;
}

.footer__info-links a:hover {
  text-decoration: none;
  color: #4ab0e0;
  transition: all 0.3s;
}

.footer__bottom {
  text-transform: uppercase;
  font-family: Gilroy-Regular;
  padding: 70px 0 40px 0;
}

@media (max-width: 1135px) {
  .footer__info-offers,
  .footer__info-goods {
    margin-right: 80px;
  }
}

@media (max-width: 1055px) {
  .slider-2 .slide__sale h3,
  .slider-2 .slide__sale-nine h3 {
    font-size: 30px;
  }

  .slider-2 .slide__sale p,
  .slider-2 .slide__sale-nine p {
    font-size: 97px;
  }
}

@media (max-width: 1040px) {
  .footer__logo {
    display: block;
  }

  .footer__logo-number {
    padding: 20px 0 0 0;
  }
}

@media (max-width: 1020px) {
  .goodsList {
    display: block;
    text-align: center;
  }

  .goodsList__photo img {
    display: none;
  }
}

@media (max-width: 910px) {
  .footer__info-offers,
  .footer__info-goods {
    margin-right: 40px;
  }
}

@media (max-width: 865px) {
  .wrapper {
    padding: 0 30px;
  }

  .slider-1 .swiper-slide h3,
  .slider-2 .swiper-slide h3 {
    left: 30px;
  }

  .slider-1 .slide-info,
  .slider-2 .slide-info {
    padding: 15px 0 15px 30px;
  }

  .slider-2 .slide__sale {
    left: 30px;
    bottom: 70px;
  }

  .slider-2 .slide__sale h3 {
    left: 0px;
  }

  .slider-2 .slide__sale-nine {
    right: 30px;
    bottom: 70px;
  }

  .slider-2 .slide__sale-nine h3 {
    right: 0px;
  }

  .slider-2 .slide__sale h3,
  .slider-2 .slide__sale-nine h3 {
    left: 0px;
  }

  .footer {
    display: block;
  }

  .footer__info {
    padding-top: 40px;
  }
}

@media (max-width: 758px) {
  .slider-1 img,
  .slider-2 img {
    -o-object-fit: cover;
    object-fit: cover;
  }
}

@media (max-width: 490px) {
  .wrapper {
    padding: 0 15px;
  }

  .slider-1 .swiper-slide h3,
  .slider-2 .swiper-slide h3 {
    left: 15px;
    font-size: 25px;
    bottom: 75px;
  }

  .slider-1 .swiper-pagination-bullet,
  .slider-2 .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    margin: 0 6px !important;
  }

  .slider-1 .slide-info,
  .slider-2 .slide-info {
    padding: 15px 0 15px 15px;
  }

  .slider-1 .slide-info h4,
  .slider-2 .slide-info h4 {
    font-size: 16px;
  }

  .slider-1 .slide-info p,
  .slider-2 .slide-info p {
    font-size: 12px;
  }

  .slider-2 .slide__sale {
    left: 15px;
  }

  .slider-2 .slide__sale h3 {
    left: 0px;
  }

  .slider-2 .slide__sale-nine {
    right: 15px;
  }

  .slider-2 .slide__sale-nine h3 {
    right: 0px;
  }

  .slider-2 .slide__sale,
  .slider-2 .slide__sale-nine {
    bottom: 50px;
  }

  .slider-2 .slide__sale h3,
  .slider-2 .slide__sale-nine h3 {
    left: 0px;
  }

  .slider-2 .slide__sale h3,
  .slider-2 .slide__sale-nine h3 {
    bottom: 0px;
  }
}

@media (max-width: 470px) {
  .footer__info {
    font-size: 13px;
  }

  .footer__info-offers,
  .footer__info-goods {
    margin-right: 5px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (max-width: 1135px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1055px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1040px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1020px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 910px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 865px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 758px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 490px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 470px){

@supports (-webkit-appearance:none){

}

}
